:root {
  --white: #ffffff;
  --black: #000;
  --gray: #777d82;
  --red: red;
  --lgray: #414141;
  --headingcolor: #7a69d4;
  --textcolor: #000;
  --textcolor2: #455a64;
  --newblue: #7a69d4;
  --lightwhite: #f5f6fa;
  --lightgray: #bec2ce;
}

* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  overflow-x: hidden;
  background-color: var(--lightwhite) !important;
  margin: 5px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  /* word-break: break-all; */
}
@font-face {
  font-family: hk_light;
  src: url(../nfonts/HKGrotesk-Light.otf);
}
@font-face {
  font-family: hk_reg;
  src: url(../nfonts/HKGrotesk-Regular.otf);
}
@font-face {
  font-family: hk_med;
  src: url(../nfonts/HKGrotesk-Medium.otf);
}
@font-face {
  font-family: hk_bold;
  src: url(../nfonts/HKGrotesk-Bold.otf);
}
@font-face {
  font-family: ubuntu;
  src: url(../nfonts/Ubuntu-Regular.ttf);
}
.fontfamilyhk_light {
  font-family: hk_light;
}
.fontfamilyhk_reg {
  font-family: hk_reg;
}
.fontfamilyhk_med {
  font-family: hk_med;
}
.fontfamilyhk_bold {
  font-family: hk_bold;
}
.fontfamilyub {
  font-family: ubuntu;
}
.fwlight {
  font-weight: 300;
}
.fwreg {
  font-weight: 400;
}
.fwmed {
  font-weight: 500;
}
.fwbold {
  font-weight: 700;
}
.font1 {
  font-size: 24px;
}
.font2 {
  font-size: 14px;
}
.font3 {
  font-size: 34px;
}
.font4 {
  font-size: 20px;
}
.font5 {
  font-size: 16px;
}
.font6 {
  font-size: 13px;
}
.font7 {
  font-size: 22px;
}
.font8 {
  font-size: 15px;
}
.font9 {
  font-size: 20px !important;
}
.font10 {
  font-size: 12px !important;
}
.font11 {
  font-size: 11px !important;
}
.font12 {
  font-size: 10px !important;
}
.lh24 {
  line-height: 24px;
}
.colorblack {
  color: var(--black);
}
.colorwhite {
  color: var(--white);
}
.color1 {
  color: var(--gray);
}
.color2 {
  color: var(--newblue);
}
.color3 {
  color: var(--lightgray);
}
.textcolor {
  color: var(--textcolor);
}
.textcolor2 {
  color: var(--textcolor2);
}
.headingcolor {
  color: var(--headingcolor);
}
.colorred {
  color: var(--red) !important;
}
.coloricon {
  color: var(--black);
}
.textcenter {
  text-align: center;
}
p {
  margin-bottom: 0px !important;
}
.page1_d1 {
  display: grid;
  place-items: center;
  height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
}
.page1_d1 img {
  width: 146px;
  height: 176px;
}
.page2_d1 {
  width: 375px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
.page6_d1 {
  width: 375px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
.page12_d1 {
  width: 375px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
  padding-left: 15px;
  padding-right: 15px;
}
.page13_d1 {
  width: 375px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 35px;
  margin-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
}
.header375 {
  width: 375px;
  margin: auto;
}
.allmsgspage {
  width: 375px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
}
.page8_d1 {
  width: 375px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 0px 25px;
  padding-left: 15px;
  padding-right: 15px;
}
.reci_fetch_d1 {
  width: 375px;
  margin: auto;
  margin-top: 85px !important;
}
.reci_fetch_pd1 {
  width: 350px;
  margin-top: 35px !important;
  padding-left: 0px !important;
}
.imgp8 {
  display: table;
  margin: auto;
}
.p_logo_img {
  width: 81px;
  height: 98px;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt25 {
  margin-top: 25px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}
.mb60 {
  margin-bottom: 60px !important;
}
.mb80 {
  margin-bottom: 80px !important;
}
.mt50 {
  margin-top: 50px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mt70 {
  margin-top: 70px !important;
}
.mt100 {
  margin-top: 100px !important;
}
.mt120 {
  margin-top: 120px !important;
}
.mt185 {
  margin-top: 185px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mt30 {
  margin-top: 30px;
}
.mt125 {
  margin-top: 125px !important;
}
.mt150 {
  margin-top: 150px !important;
}
.mb120 {
  margin-bottom: 120px !important;
}
.ml24 {
  margin-left: 24px;
}
.ml20 {
  margin-left: 20px;
}
.ml8 {
  margin-left: 8px;
}
.ml15 {
  margin-left: 15px;
}
.mr24 {
  margin-right: 24px;
}
.mr15 {
  margin-right: 15px;
}
.disflex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0px 20px;
}
.disflex2 {
  display: flex;
}
.padding18 {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 18px;
}
input {
  font-family: "Ubuntu", sans-serif !important;
  font-weight: 400;
  font-size: 15px;
  width: 339px;
  height: 45px;
  border: 0px !important;
  border-radius: 8px;
  padding: 0px 12px;
  color: var(--black);
  margin: 0px auto 12px !important;
  display: table;
  background-color: var(--white);
}
input:focus {
  outline: -webkit-focus-ring-color auto 0px;
}
button:focus {
  outline: dotted 0px !important;
  outline: -webkit-focus-ring-color auto 0px !important;
}
.btn1 {
  font-family: "Ubuntu", sans-serif !important;
  font-weight: 500;
  font-size: 16px;
  width: 339px;
  height: 45px;
  border: 1px solid #707070;
  border-radius: 8px;
  color: var(--white);
  display: table;
  padding: 8px 0px !important;
  background-color: var(--newblue);
}
.page_bottom {
  position: absolute;
  bottom: 20px;
}
a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
.prel {
  position: relative;
}
#show_password {
  position: absolute;
  right: 16px;
  top: 10px;
}
#show_password .fa-eye {
  cursor: pointer;
}
.show_email {
  position: absolute;
  right: 16px;
  top: 10px;
}
.p_logo2 {
  width: 81px;
  height: 98px;
  margin: auto;
  display: table;
}
.page3_d1 {
  width: 375px;
  margin: auto;
  margin-top: 115px !important;
}
.terms_d1 {
  max-width: 600px;
  width: 100%;
  margin: auto;
}
.lineheight28 {
  line-height: 28px;
}
.page3-img1 {
  margin: auto;
  display: table;
}
.bgwhite {
  background-color: var(--white) !important;
}
.bgtheme {
  background-color: var(--newblue) !important;
}
header {
  padding: 15px 20px;
  position: fixed;
  width: 100%;
  margin: 0;
  top: 0px;
  z-index: 20;
}
.alignleft {
  float: left;
  text-align: left;
  width: 26.33333%;
}
.alignleft2 {
  float: left;
  text-align: left;
  width: 20px;
}

.aligncenter {
  float: left;
  text-align: center;
  width: 47.33333%;
}
.alignright {
  float: left;
  text-align: right;
  width: 26.33333%;
}
.pt5res {
  padding-top: 5px;
}
.navbox {
  width: 155px;
  height: 156px;
  background-color: var(--white);
  border-radius: 8px;
  padding: 35px;
  margin-bottom: 15px;
}
.navbox:nth-child(odd) {
  margin-right: 20px;
}
.page5_d1 {
  width: 375px;
  margin: auto;
}
.page5_padding {
  padding: 35px 30px;
}
.searchbtn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10px;
  left: 10px;
}
.searchinput {
  width: 327px;
  height: 48px;
  padding-left: 50px;
  font-size: 13px;
  font-family: "Ubuntu", sans-serif;
}
/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  width: 327px;
}

.tab {
  width: 100%;
  color: var(--white);
  overflow: hidden;
  margin-bottom: 12px;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: var(--white);
  color: var(--newblue);
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  /* Icon */
}
.tab-label:hover {
  /* background: #1a252f; */
}
.tab-label::after {
  content: url("../nimg/001-arrow-down-sign-to-navigate.png");
  width: 13.7px;
  /* height: 7.7px; */
  text-align: center;
  transition: all 0.8s ease;
}
.tab-content {
  max-height: 0;
  padding: 0 15px;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  color: var(--textcolor2);
  background: var(--white);
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}
/* accordin 2*/
.tabs2 {
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}

.tab2 {
  width: 100%;
  color: var(--white);
  overflow: hidden;
  margin-bottom: 12px;
}
.tab-label2 {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: var(--white);
  color: var(--black);
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  cursor: pointer;
  border-radius: 8px;
  /* Icon */
}
.tab-label2:hover {
  /* background: #1a252f; */
}
input:checked + .tab-label {
}
input:checked + .tab-label::after {
  transform: rotate(180deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 15px;
  margin-top: 4px;
  border-radius: 8px;
}
.tab-label2::after {
  content: url("../nimg/black-down-arrow.png");
  width: 13.7px;
  /* height: 7.7px; */
  text-align: center;
  transition: all 0.8s ease;
}
.tab-content2 {
  max-height: 0;
  padding: 0 15px;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  color: var(--textcolor2);
  background: var(--white);
}
.tab-close2 {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close2:hover {
  background: #1a252f;
}

input:checked + .tab-label2 {
}
input:checked + .tab-label2::after {
  transform: rotate(180deg);
}
input:checked ~ .tab-content2 {
  max-height: 100vh;
  padding: 15px;
  margin-top: 4px;
  border-radius: 8px;
}
.disnone {
  display: none !important;
}
.disnon-email {
  display: none;
}
:focus {
  outline: -webkit-focus-ring-color auto 0px !important;
}
/* The container */
.containercb {
  display: block;
  position: relative;
  padding-left: 24px;
  margin-bottom: 15px;
  cursor: pointer;
  color: var(--textcolor2);
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.containercb input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: var(--white);
  border-radius: 3px;
  border: 1px solid var(--textcolor2);
}

/* On mouse-over, add a grey background color */
/* .containercb:hover input ~ .checkmark {
  background-color: #ccc;
} */

/* When the checkbox is checked, add a blue background */
.containercb input:checked ~ .checkmark {
  background-color: var(--white);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containercb input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containercb .checkmark:after {
  left: 5px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cbdiv {
  width: 275px;
  margin-top: 16px;
}
.contactusf {
  background-color: var(--white);
  border-radius: 12px;
  width: 326px;
  margin: auto;
  padding: 10px 0px;
  border: 0px;
}
.contactusf input {
  width: 100%;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #70707047;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 0px !important;
  padding: 25px 15px;
}
.contactusf textarea {
  width: 100%;
  border-radius: 0px;
  border: none;
  padding: 0px 12px;
  resize: none;
  padding: 25px 15px;
  font-family: "Ubuntu", sans-serif;
}
.btnsend {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  border: none;
  color: #fff;
  background-color: var(--newblue);
  border-radius: 8px;
  padding: 15px 0px;
  width: 326px;
  position: relative;
}
.btnsend img {
  position: absolute;
  right: 8px;
  top: 5px;
}
.p6_logo_img {
  width: 82px;
  height: 99px;
}
.stickyhead {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: block;
  bottom: 0;
  margin-top: 120px;
}
.bottomnav {
  position: fixed;
  width: 100%;
  /* height: 70px; */
  background: var(--white);
  opacity: 1;
  z-index: 1000;
  bottom: 0;
  display: block;

  padding: 14px 0px 16px;
}
.bottom_nav_flex {
  display: flex;
  justify-content: space-evenly;
}

.bnwidth {
  max-width: 600px;
  width: 100%;
  margin: auto;
}
.bnwidth_share {
  max-width: 350px;
  width: 100%;
  margin: auto;
}
.legal_main_img {
  width: 169.93px;
  height: 171.57px;
  margin: auto;
  display: table;
}
.page_12_box {
  background-color: var(--newblue);
  padding: 12px 15px;
  position: relative;
  width: 327px;
  margin: auto;
  border-radius: 8px;
  margin-bottom: 8px;
}
.page_12_box img {
  position: absolute;
  top: 16px;
  right: 15px;
}
.icon-st1 {
  font-size: 12px;
  background-color: var(--white);
  padding: 4px 8px 8px;
  border-radius: 6px;
}
.icon-st1 img {
  width: 12px;
  height: 13px;
}
.fa-file-text-o:before {
  content: "\f15c";
}
.showgreenerror {
  width: 160px;

  border-radius: 6px;
  padding: 4px;
  background-color: var(--headingcolor);
  color: var(--white);
  margin: 10px 0px;
}
.showrederror {
  width: 160px;
  border-radius: 6px;
  padding: 4px;
  background-color: var(--red);
  color: var(--white);
  margin: 10px 0px !important;
}
.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
.success-msg .svg-inline--fa {
  margin-right: 6px;
}
.error-msg .svg-inline--fa {
  margin-right: 6px;
}
.info-msg .svg-inline--fa {
  margin-right: 6px;
}
.warning-msg .svg-inline--fa {
  margin-right: 6px;
}
.info-msg {
  color: #059;
  background-color: #bef;
  font-family: hk_bold;
}
.success-msg {
  color: var(--newblue);
  background-color: #7a69d438;
  font-family: hk_bold;
}
.warning-msg {
  color: #9f6000;
  background-color: #feefb3;
  font-family: hk_bold;
}
.error-msg {
  color: #d8000c;
  background-color: #ffbaba;
  font-family: hk_bold;
}
.error-msg2 {
  color: #d8000c;
  background-color: #ffbaba;
  font-family: hk_bold;
  display: inline;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

.p14d2 {
  padding-top: 10px;
  position: relative;
  left: -10px;
  width: 245px;
}
.p14d2 h2 {
  word-break: break-all;
}
.p14d2 p {
  word-break: break-all;
}
.prof-ico {
  display: inline-block;
  background-color: var(--headingcolor);
  color: var(--white);
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 14px;
  position: relative;
  top: 24px;
  left: -22px;
}
.profd3 {
  display: flex;
}
.profd3d1 {
  display: grid;
  place-items: center;
}
.profd3d2 {
  padding-left: 15px;
}
.profd3d2 h2 {
  margin-bottom: 0px;
}
.profd3d2 p {
  margin-bottom: 0px;
  word-break: break-all;
}

.message_left {
  display: inline-block;
  padding: 4px 10px 3px 10px;
  background-color: var(--white);
  border-radius: 8px;
  max-width: 90%;
}
.message_left:after {
  content: "";
  position: absolute;
  border: 9px solid transparent;
  border-right: 17px solid var(--white);
  border-left: none;
  bottom: 4px;
  left: -14px;
  border-radius: 0px 0px 0px 0px;
}

.groupchname {
  font-size: 12px;
  color: #757575;
}
.timechat {
  font-size: 10px;
  color: var(--lightgray);
  text-align: right;
  font-family: hk_reg;
  padding-left: 80px;
  text-align: right;
  width: 100%;
}
.message_right {
  display: inline-block;
  padding: 4px 10px 3px 10px;
  background-color: var(--newblue);
  border-radius: 8px 8px 8px 8px;
  max-width: 90%;
  float: right;
  color: white !important;
}
.message_right:after {
  content: "";
  position: absolute;
  border: 11px solid transparent;
  /* border-top: 13px solid var(--newblue); */
  border-left: 22px solid var(--newblue);
  /* border-right: none; */
  bottom: 2px;
  right: -23px;
  border-radius: 0px 0px 0px 0px;
}
.cancelmsg {
  color: #ffd428;
  font-size: 10px;
  font-family: hk_reg;
}
.cancelmsg:hover {
  color: white;
}

.message_right p {
  color: white !important;
}
.chatdoubletick {
  margin-left: 6px;
}
.send_msg {
  background-color: var(--newblue);
  padding: 20px 15px 16px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.send_msg_grp {
  display: flex;
  align-items: center;
  justify-content: center;
}
.send_msg_grp button {
  border: none !important;
  background-color: transparent !important;
  padding: 0px;
  margin: 0px;
}
.send_msg_grp textarea {
  border-radius: 8px;
  margin-bottom: 0px !important;
  width: 305px !important;
  text-align: left;
  color: black;
  height: 41px;
  resize: none;
  padding-left: 36px;
}
.textareaclass {
  height: 35px;
  box-sizing: border-box;
  background-color: white;
  resize: horizontal;
  padding: 10px;
  border-radius: 12px;
  /* border-radius: 4px; */
  writing-mode: horizontal-tb;
  text-orientation: upright;
  text-align: left;
  width: 306px;
  max-width: 306px;
  min-width: 250px;
  background: white;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  resize: none;
  overflow: hidden;
  min-height: 35px;

  word-wrap: break-word;
  overflow-wrap: break-word;
}
.send_msg_grp img {
  padding-left: 10px;
}
.w375 {
  max-width: 375px;
  width: 100%;
}
.messges_setd2 {
  padding-top: 0px;
  position: relative;
  left: 10px;
}

.show_online {
  background-color: var(--newblue);
  width: 10px;
  height: 10px;
  border-radius: 25px;
  position: absolute;
  right: 6px;
  bottom: 0px;
}
.mb0 {
  margin-bottom: 0px !important;
}
.all_msgs {
  padding: 15px 0px 10px;
  border-bottom: 1px solid #cfd4dc;
}
.no_of_msgs {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translatey(-50%);
  text-align: center;
}
.no_of_msgs p {
  width: 24px;
  height: 24px;
  background-color: var(--newblue);
  border-radius: 25px;
  line-height: 25px;
  text-align: center;
}
.plussd {
  background-color: #f5f6fa;
  padding: 0px;
  border: 0px solid;
  border-radius: 0px;
}
.plussd .faiconplus {
  color: black;
  font-size: 20px;
  margin-top: 4px;
}
@media (max-width: 600px) {
  .plussd {
    display: none !important;
  }
}
.badges1 {
  position: absolute;
  right: -8px;
  top: -5px;
}
.badges1 p {
  width: 16px;
  height: 16px;
  background-color: var(--red);
  border-radius: 25px;
  line-height: 16px;
  font-size: 10px;
  text-align: center;
}
.badges2 {
  position: absolute;
  right: -8px;
  top: -5px;
}
.badges2 p {
  width: 24px;
  height: 24px;
  background-color: var(--red);
  border-radius: 25px;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
}
.plr15 {
  padding-left: 15px;
  padding-right: 15px;
}
.ml8 {
  margin-left: 8px;
}
.all_msgs .prel {
  padding-left: 12px;
}
.bell_noti {
  width: 40px;
  height: 40px;
  background-color: var(--newblue);
  position: relative;
  border-radius: 10px;
  padding: 8px;
  float: right;
  text-align: center;
}
.faicon_noti {
  color: white !important;
  font-size: 25px;
}
.noti_be_span {
  width: 18px;
  height: 18px;
  background-color: var(--newblue);
  color: var(--white);
  font-size: 11px;
  border: 1px solid #fff;
  border-radius: 25px;
  display: block;
  padding: 0px 5px 0px;
  position: absolute;
  top: -8px;
  right: -6px;
}
.uhd2 {
  padding-top: 0px;
  position: relative;
  left: 12px;
}
.pluh {
  padding-left: 20px;
}
.pageuserhomeshort {
  width: 375px;
  margin: auto;
  margin-top: 15px !important;
}

.pageuserhome {
  width: 375px;
  margin: auto;
  margin-top: 68px !important;
}

.pagehistorpanel {
  width: 375px;
  margin: auto;
  margin-top: 70px !important;
}
.devicehistory {
  width: 375px;
  margin: auto;
  margin-top: 70px !important;
  padding: 15px;
}
.ddh1 {
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.dhflexd1 {
  width: 48px;
  height: 48px;
  background-color: var(--newblue);
  border-radius: 10px;
  padding: 11px;
}
.dhflexd2 {
  margin-left: 20px;
  width: 270px;
}
.dhflexd2 h2 {
  font-size: 16px;
  margin-bottom: 4px;
  color: var(--black);
  font-family: hk_bold;
  word-break: break-all;
}
.dhflexd2 p {
  font-size: 14px;
  font-family: hk_reg;
  color: var(--black);
  word-break: break-all;
}
.dhflexddate {
  margin-top: 2px;
}
.dhflexddatef {
  color: #4c5d77;
  font-size: 12px;
  font-family: hk_reg;
  word-break: break-all;
}
.dhflexddatel {
  color: #4c5d77;
  font-size: 12px;
  font-family: hk_reg;
  float: right;
  word-break: break-all;
}
.blckbtn {
  font-family: hk_med;
  font-size: 16px;
  background-color: var(--newblue);
  color: var(--white);
  width: 100%;
  border-radius: 10px;
  padding: 10px 20px;
  border: 0px !important;
  margin-top: 15px;
}
.dhflexd01 {
  width: 87px;
  height: 87px;
  background-color: var(--newblue);
  border-radius: 10px;
  padding: 25px;
}
.dhflexd02 {
  margin-left: 20px;
  width: 200px;
  padding-top: 5px;
}
.dhflexd02 h2 {
  font-size: 16px;
  color: var(--black);
  font-family: hk_bold;
  word-break: break-all;
}
.dhflexd02 p {
  color: #4c5d77;
  font-size: 12px;
  font-family: hk_reg;
  word-break: break-all;
}
.dhflexddate01 {
  margin-top: 15px;
  display: flex;
}
.dhflexddatef01 {
  width: 78px;
}
.dhflexddatel01 {
  color: #4c5d77;
  font-size: 12px;
  font-family: hk_reg;
  float: right;
  margin-left: 10px;
  word-break: break-all;
}
.video-page {
  width: 375px;
  margin: auto;
  padding: 50px 15px;
}
.video-page h2 {
  font-size: 24px;
  font-family: hk_med;
  color: var(--headingcolor);
}
.videomainimg {
  width: 330px;
  height: 213px;
  border-radius: 10px;
}
.video-getstarted {
  font-size: 17px;
  background-color: var(--newblue);
  color: white;
  border-radius: 8px;
  padding: 12px 50px;
  border: none;
  margin: auto;
  display: table;
}
.video-getstarted:hover {
  color: white;
}
.probar {
  margin-top: 20px;
}
.probar .progress-bar {
  background-color: var(--newblue) !important;
}
.watchtimevideo {
  color: var(--newblue);
  font-size: 9px;
  font-family: hk_med;
}
.totaltimevideo {
  color: #6a6c74;
  font-size: 10px;
  font-family: hk_med;
  float: right;
}
.videowatchtimimg {
  margin-top: 10px;
}
.video-btns {
  margin: 22px 0px 50px;
  background-color: white;
  border-radius: 25px;
  padding: 25px 30px;
  justify-content: space-around;
  display: flex;
}
.videomain {
  display: flex;
  overflow-x: scroll;
  width: 375px;
  margin: auto;
  height: 100vh;
  overflow-y: hidden;
}
/* CUSTOM SCROLL BAR */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border: 0px none #ffffff;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}

::-webkit-scrollbar-thumb:active {
  background: #333;
}

::-webkit-scrollbar-track {
  background: transparent;
  /*   border: 0px none #ffffff; */
  border-radius: 2px;
}

::-webkit-scrollbar-track:hover {
  background: transparent;
}

::-webkit-scrollbar-track:active {
  background: transparent;
}

::-webkit-scrollbar-corner {
  /*   background: transparent; */
}

.custom-select {
  width: 100%;
  border-right: 10px solid white !important;
  padding: 12px;
  border-radius: 10px;
  border: none;
}
.pagination-dh {
  display: flex;
  margin-top: 30px;
}
.pagination-dh a {
  width: 45px;
  height: 45px;
  background-color: var(--newblue);
  margin: 10px 3px;
  padding: 10px 12px;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}
.pagination-dh a:hover {
  color: white;
}
.active-page {
  background-color: #e0e0e0 !important;
  color: var(--headingcolor) !important;
}
.whtbgdiv {
  background-color: white;
  border-radius: 4px;
  width: 29px;
  height: 27px;
  text-align: center;
}
.disflexex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.exdiv2 {
  margin: 20px 0px;
  padding: 20px;
  border-radius: 7px;
  background-color: white;
}
.exsubd1 {
  display: flex;
}
.exsubd1 p {
  color: #1f1f39;
  margin-left: 6px;
}
.exsubd1 span {
  color: #a5a6ae;
  font-size: 10px;
  font-family: hk_reg;
  margin-top: -3px;
  display: block;
  margin-left: 7px;
}
.download_btn {
  color: #1492e6;
  font-size: 12px;
  background-color: #51b4f933;
  border-radius: 4px;
  padding: 2px 12px 4px;
  margin-right: 3px;
}
.download_btn:hover {
  color: #1492e6;
}
.share_btn1 {
  color: var(--newblue);
  font-size: 12px;
  background-color: #7a69d42b;
  border-radius: 4px;
  padding: 2px 22px 4px;
}
.share_btn1:hover {
  color: var(--newblue);
}
.padding10 {
  padding: 4px 0px 10px;
}
.exul {
  padding-left: 6px !important;
  list-style: none;
  margin-top: -6px;
}
.exul li p {
  margin-top: 5px;
}
.exsubd1img {
  margin-top: -10px;
}
.mtml1 {
  margin-top: 0px !important;
  margin-left: 15px !important;
}
.mlrd1 {
  margin-top: -28px;
  margin-left: 20px;
}
.mlrd2 {
  margin-left: 40px;
  margin-top: -28px;
}
.fetchp2d1 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.fetchp2d1 p {
  margin-bottom: 15px !important;
}
.progres_per {
  margin-top: 10px;
}
.progres_per p {
  text-align: right;
}
.progres_per p span {
  font-family: hk_reg;
  font-size: 14px;
  color: var(--newblue);
}
.bg-theme {
  background-color: var(--newblue) !important;
}
.bglightwhite {
  background-color: var(--lightwhite) !important;
  display: flex;
  justify-content: space-between;
}
.mainpheadmd {
  width: 375px;
  margin: auto;
}
.mainpheadmd header {
  width: 375px;

  padding: 12px 20px 10px;
}

.fetchp2 {
  position: absolute;
  top: 140px;
  left: 4px;
  display: block;
  width: 100%;
}

.share_btn {
  background-color: white;
  border: 1px solid var(--newblue);
  color: var(--newblue);
  font-size: 16px;
  font-family: hk_med;
  width: 100%;
  border-radius: 8px;
  padding: 8px;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  text-align: center;
  /* cursor: pointer; */
}

.upload_btn {
  background-color: var(--newblue);
  border: none;
  color: white;
  font-size: 16px;
  font-family: hk_med;
  width: 100%;
  border-radius: 8px;
  padding: 8px;
  margin-top: 18px;
  display: block;
}
.upload_btn2 {
  background-color: var(--newblue);
  border: none;
  color: white;
  font-size: 16px;
  font-family: hk_med;
  width: 100%;
  border-radius: 8px;
  padding: 8px;
  margin-top: 0px;
  display: block;
}
.upload_btn2:hover {
  color: white !important;
}
.upload-btn-wrapper input[type="file"] {
  position: absolute;
  left: -168px;
  top: 0;
  opacity: 0;
  display: block;
  height: auto;
  width: 335px;
  cursor: pointer;
}

.multi_upfiles {
  margin: 20px 0px;
}
.show_upfiles {
  padding: 15px;
  position: relative;
  display: flex;
  border-radius: 7px;
  background-color: white;
  margin-bottom: 15px;
}
.showupfilesd1 p {
  border-radius: 7px;
  width: 48px;
  height: 48px;
  background-color: var(--newblue);
  padding: 12px;
  text-align: center;
}
.up_icon-st {
  color: white;
  font-size: 25px;
  line-height: 48px;
  text-align: center;
}
.showupfilesd2 {
  padding-right: 20px;
  width: 256px;
}
.showupfilesd2 h2 {
  color: black;
  font-size: 16px;
  font-family: hk_bold;
  margin-bottom: 0px;
  word-break: break-all;
  text-align: left;
}
.showupfilesd2 p {
  font-size: 14px;
  font-family: hk_med;
  text-align: left;
  margin-top: 3px;
}
.file_datetime {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.file_datetime p {
  color: #4c5d77;
  display: block;
  font-size: 12px;
  font-family: hk_reg;
}
.close_up {
  position: absolute;
  right: 12px;
  top: 6px;
  cursor: pointer;
}
.fa-file-pdf-o::before {
  content: "\f1c1";
}
.treeview ul:nth-child(1) {
  padding-left: 0px;
}
.treeview ul {
  list-style: none;
  padding-left: 22px;
}
.icontree {
  color: var(--newblue);
  font-size: 18px;
  /* margin-right: 6px; */
}
.icontreenode {
  color: var(--newblue);
  font-size: 15px;
  margin-right: 4px;
}

.treetxt {
  color: #000;
  font-size: 14px;
  font-family: hk_reg;
  word-break: break-all;
  width: 200px;
  display: inline-flex;
}
.treeview ul ul li::before {
  content: url(../nimg/right-curved-arrow.svg);
  margin-left: -14px;
  display: inline-block;
  margin-right: 2px;
}
.treeview ul ul li {
  /* display: inline; */
}
.treeview_imgsize {
  color: #a5a6ae;
  font-size: 10px;
  font-family: hk_reg;
}
.treeview_mr {
  margin-left: 30px;
}
.custradio label {
  position: relative;
  cursor: pointer;
}
.custradio label input {
  display: none;
}
.custradio label span {
  position: relative;
  display: inline-block;
}

.treeview ul {
  display: none;
}
#treeViewid {
  display: block;
}
.treeview button {
  background-color: transparent;
  border: none;
  padding: 0px;
}
#fetching1 {
  display: none;
}
#tview2 {
  display: none;
}
.close {
  background-color: var(--black);
  padding: 2px 8px;
  border-radius: 25px;
  position: relative;
  top: 14px;
  right: -155px;
  z-index: 9;
  color: var(--white);
}
.close:hover {
  color: var(--newblue);
  background-color: var(--white);
}
.fileshlist {
  color: white;
  border-collapse: collapse;
  width: 100%;
  align-content: center;
  text-align: center;
  padding-top: 10px;
  /*border-radius: 8%;*/
  background: transparent;
  word-wrap: break-word;
  display: block;
  min-width: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 0px solid #ddd;
}

.row::after {
  content: "";
  clear: both;
  font-size: 12px;
  display: table;
}

.fileshlist td,
fileshlist th {
  border: 0px solid #ddd;
  word-wrap: break-word;
  width: 100%;
}

#fileshlist tr:nth-child(even) {
  background-color: cyan;
}

#fileshlist tr:hover {
  background-color: #ddd;
}

.fileshlist th {
  text-align: center;
  color: #000;

  border: 0px solid #1da1f3;
  border-collapse: collapse;
  word-wrap: break-word;
  width: 100%;
  text-align: left;
  padding: 8px;
}

.fileshlist td {
  border: 0px solid #ddd;
  word-wrap: break-word;
  color: #000;

  padding: 5px;
}

/* scroll menu */
.sc_menu__wrapper {
  padding: 4px 20px 0px;
}
.sc_menu {
  display: flex;
  overflow-x: scroll;
  justify-content: space-between;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
  -webkit-overflow-scrolling: touch;
  padding-left: 0px !important;
}
.sc_menu__header {
  display: flex;
  align-items: center;
  width: 100%;
}
.sc_menu__headline {
  flex: 1;
  font-size: 20px;
  font-family: hk_med;
  color: var(--newblue);
  position: relative;
  top: 6px;
}
.sc_menu__arrows {
  align-self: center;
}
.sc_menu__arrows .arrow {
  cursor: pointer;
}
.sc_menu__arrows .arrow img {
  width: 18px;
}
.sc_menu__arrows .arrow:before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  /* background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTUgOSI+Cgk8cGF0aCBmaWxsPSIjMzMzMzMzIiBkPSJNNy44NjcgOC41NzRsLTcuMjItNy4yMi43MDctLjcwOEw3Ljg2NyA3LjE2IDE0LjA1Ljk4bC43MDYuNzA3Ii8+Cjwvc3ZnPgo=");
        background-size: contain;
        filter: brightness(5);
        width: 18px; 
        height: 12px;*/
  cursor: pointer;
  padding: 10px;
}
.sc_menu__arrows .arrow.disabled:before {
  /* filter: brightness(2); */
}
.sc_menu__arrows .arrow.arrow-prev:before {
  /* transform: rotate(90deg); */
  margin-right: 10px;
}
.sc_menu__arrows .arrow.arrow-next:before {
  /* transform: rotate(-90deg); */
}

.sc_menu__item {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(100% / 4 - (10px * 2) - (20px / 4));
  flex: 1 0 calc(36% - 10px * 2);
  margin: 15px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 15px 6px;
  background-color: #e7e6f5;
  text-align: center;
  border-radius: 6px;
}
@media only screen and (max-width: 990px) {
  .sc_menu__item {
    flex-basis: calc(100% / 3 - (10px * 2) - (20px / 3));
    flex: 1 0 calc(36% - 10px * 2);
  }
}
.sc_menu__item:last-child:after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 1px;
  right: calc(10px * 2 * -1);
}
.sc_menu__item:first-child {
  margin-left: 0px;
}
.sc_menu__item__description {
  z-index: 1;
  align-self: flex-start;
  margin: 10px 0;
}
.sc_menu__item__subtitle {
  color: #aaa;
  display: block;
}
.sc_menu__item__image__wrapper {
  position: relative;
  width: auto;
}
.menuitmfa {
  color: var(--newblue) !important;
  font-size: 18px;
  margin-bottom: 2px;
}
.sc_menu__item__image {
  margin-bottom: 6px;
}
.sc_menu__item__title {
  font-size: 12px;
  font-family: hk_reg;
  color: var(--newblue);
  letter-spacing: 0.5px;
  line-height: 14px;
  text-transform: capitalize;
}
@media only screen and (min-width: 990px) {
  .sc_menu__wrapper {
    overflow: hidden;
  }
}
@media (hover: none) and (pointer: coarse) {
  .sc_menu__wrapper .sc_menu__arrows {
    display: none;
  }
  .sc_menu__wrapper .sc_menu__item {
    flex: 1 0 calc(36% - 10px * 2);
  }
}
@media only screen and (hover: none) and (pointer: coarse) and (max-width: 990px) {
  .sc_menu__wrapper .sc_menu__item {
    flex: 1 0 calc(36% - 10px * 2);
  }
}

/* end scroll menu */

.uploadfilewithchat {
  position: relative;
  left: -156px;
}
.pabu {
  position: absolute;
}
.uploadfilewithchat input {
  width: 21px !important;
  height: 19px !important;
  position: absolute;
  top: 2px;
  left: 3px;
  opacity: 0;
}
.activeme {
  display: block !important;
}
.profilevchat {
  display: flex;
  align-items: center;
}
.profilevchatd2 {
  margin-left: 10px;
  padding-top: 2px;
}
.profilevchatd2 h2 {
  margin-bottom: 0px;
}
.profilevchatd1 img {
  width: 36px;
  height: 36px;
  border-radius: 25px;
}
.profilevchatd2 p {
  color: var(--lightgray);
  font-size: 12px;
  line-height: 16px;
  font-family: hk_reg;
}
.disflex3 {
  display: flex;
  justify-content: space-between;
}
.ahover:hover {
  color: var(--newblue);
}
.chatopt_btn {
  background-color: #fff;
  width: 360px;
  display: block;
  border-radius: 0px;
  border: 0px solid;
  font-size: 18px;
  color: var(--newblue);
  font-family: hk_reg;
  text-align: center;
  text-transform: capitalize;
  padding: 6px;
}

.modalmaxwidth {
  max-width: 375px !important;
}

.modalchatop .modal-dialog {
  margin: 1.75rem auto !important;
}

.modalchatop {
  bottom: 0px !important;
  top: unset !important;
  border: 0px solid transparent !important;
  outline: 0px !important;
}
:focus {
  outline: #fff auto 0px !important;
}
.modalchatop .modal-dialog {
  position: absolute !important;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%) !important;
}
.showmoreswipe {
  background-color: gray !important;
  text-align: center !important;
  padding: 26px 16px !important;
  position: absolute !important;
  right: 0px !important;
  top: 0px !important;
  display: none;
}
.showmoreswipe .fa-plus {
  color: white;
  font-size: 15px;
  margin-right: 5px;
}
.showmoreswipe p {
  color: white;
  font-size: 16px;
  font-family: hk_reg;
  text-align: center;
  text-transform: capitalize;
}
.showgmoreswipe {
  background-color: gray;
  text-align: center;
  padding: 26px 16px;
  position: absolute;
  right: 0px;
  top: 0px;
  display: none;
}
.showgmoreswipe .fa-plus {
  color: white;
  font-size: 15px;
  margin-right: 5px;
}
.showgmoreswipe p {
  color: white;
  font-size: 16px;
  font-family: hk_reg;
  text-align: center;
  text-transform: capitalize;
}

.mainheadtbl {
  background-color: var(--newblue);
  padding: 0px 4px;
  border-radius: 6px;
  display: flex;
  margin-bottom: 10px;
}
.mainheadtbl_tr1 {
  color: white !important;
  text-align: left;
  font-family: hk_reg;
}
.mainheadtbl_tr2 {
  color: white !important;
  text-align: right;
  font-family: hk_reg;
}
.addparti {
  cursor: pointer;
}
.addpartimodal {
  max-width: 800px !important;
}
.belowlogin {
  display: flex;
  justify-content: space-between;
}
.forgetpasswordd {
}
.forgetpasswordd a {
  color: var(--newblue);
  text-decoration: underline !important;
  font-size: 12px;
  font-family: hk_med;
}
.remebdiv {
  width: 212px;
}
.ui-loader {
  display: none !important;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

/* /////////////custom select box */
.select-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;

  cursor: pointer;
}
.select-head > * {
  pointer-events: none;
}
.select-head.active i {
  transform: rotate(180deg);
  margin-bottom: -5px;
}
.select-head i {
  transition: 0.3s ease all;
  margin-bottom: 5px;
}
.select-body input {
  display: none;
}
.select-body {
  list-style: none;
  padding: 0;
  margin-top: 0.5rem;
  display: none;
  border-radius: 5px;
}

.select-body.active {
  display: block;
}
.select-body li:first-child label {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.select-body li:last-child label {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.select-body li input:checked + label {
  background-color: var(--headingcolor);
  color: #fff;
}
.select-body li label {
  background-color: #fff;
  display: block;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
}
/* =============================================================================================================== */

/* profile pic code */
.profile-pic-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pic-holder {
  text-align: center;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.pic-holder1 {
  text-align: center;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  width: 100%;
}

.pic-holder .pic {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.pic-holder1 .pic1 {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.pic-holder .upload-file-block {
  display: inline-block;
  /*background-color: var(--headingcolor);
    color: #ffffff;*/
  color: #dc3545;
  padding: 6px;
  /*border-radius: 50%;*/
  font-size: 16px;
  position: relative;
  bottom: -5px;
  left: 8px;
  margin-left: -35px;
}

.pic-holder .upload-file-block {
  cursor: pointer;
}

.pic-holder .upload-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: var(--headingcolor);
  font-size: 12px;
  font-weight: 600;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.pic-holder.uploadInProgress .upload-file-block {
  display: none;
}

.pic-holder.uploadInProgress .upload-loader {
  opacity: 1;
}

/* Snackbar css */
.snackbar {
  visibility: hidden;
  text-align: center;
  border-radius: 2px;
  padding: 9px;
  font-size: 12px;
  margin: auto;
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
  position: fixed;
  top: 60px;
  z-index: 999;
  right: 9px;
}

.snackbar.show {
  visibility: visible;
}
.btn-approve {
  color: #fff !important;
  background-color: var(--headingcolor);
  border-color: var(--headingcolor);
}
.btngrow {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent !important;
  padding: 4px 10px;
  font-size: 14px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: auto;
  height: auto;
}
.btnsgroupclassprof {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.mrg0 {
  margin: 0px !important;
}

#profilePicshow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#showptxtpi {
  font-family: hk_reg;
  font-size: 14px;
  margin-bottom: 4px !important;
}
#showpimgdiv {
  display: none;
  flex-direction: column;
}

.box-shadow-3d {
  box-shadow: 2px 10px 10px #edeef2;
}
