.add-unable-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
}
.svg-wrapper img {
  width: 100%;
}
.add-unable-presentation {
  margin-top: 2rem;
}
.add-unable-presentation h2 {
  color: var(--headingcolor);
  font-weight: 500;
  font-size: 24px;
}
.add-unable-presentation p {
  color: #7a869a;
  margin-top: 20px;
}
