.assist-image-wrapper {
  display: flex;
  justify-content: center;
}
.assist-image-wrapper img {
  width: 50%;
}
.assets-main-heading {
  font-size: 25px;
  font-weight: 600;
  color: var(--headingcolor);
  text-align: center;
  margin-top: 2rem;
}
.assets-main-para {
  /* font-weight: 600; */
  color: #7a869a;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}
.assist-presentation {
  text-align: center;
}

.assist-presentation h1 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--headingcolor);
  margin-bottom: 20px;
}
.assist-presentation p {
  line-height: 1.8rem;
}
.assist-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin-top: 3rem;
}

.assist-boxes .assist-box {
  background-color: #fff;
  padding: 1rem;
  min-height: 170px;
  padding-bottom: 2rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 20px #edf0f6;
}
.assist-boxes .assist-box span {
  color: var(--headingcolor);
  margin-top: 1rem;
  text-align: center;
}
.assist-boxes .assist-box img {
  width: 60px;
}
.assist-boxes .assist-box:last-child img {
  width: 50px;
}
.assist-boxes .assist-box:last-child .desktop-assets {
  width: 60px;
}
.assist-boxes .assist-box .computer-share {
  width: 80px;
}
.assist-boxes.share-files .assist-box {
  padding: 2rem;
}
.assist-boxes .assist-box.legal-box img {
  width: 60px;
}
