.new-group-header {
  background-color: #f5f6fa;
  color: var(--headingcolor);
}
.new-group-header a {
  color: var(--headingcolor);
}
.new-group-container > p {
  font-weight: 600;
  color: var(--headingcolor);
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}
.plan-box-top-presentation h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--headingcolor);
}

.plan-box-top-presentation p {
  color: var(--textcolor2);
  font-weight: bold;
  font-size: 14px;
}

.plan-box-card {
  background-color: #fff;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
}

.plan-box-card .card-top {
  display: flex;
  align-items: flex-start;
}

.plan-box-card .card-top .image-wrapper {
  background-color: var(--headingcolor);
  width: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.plan-box-card .card-top img {
  height: 30px;
}
.plan-box-card .card-top .plan-box-info > * {
  display: block;
  word-wrap: break-word;
  word-break: break-all;
}

.plan-box-card .card-top .plan-box-info h3 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
}

.plan-box-card .card-top .plan-box-info .price-plan {
  color: var(--headingcolor);
  font-weight: 600;
  word-break: break-all;
  word-wrap: break-word;
}

.plan-box-card .card-top .plan-box-info .plan-box-price {
  font-weight: 600;
  color: var(--gray);
  margin-top: 10px;
}
.plan-box-info p {
  word-wrap: break-word;
  word-break: break-all;
  font-size: 15px;
  margin-top: 5px;
}
.plan-box-button {
  width: 100%;
  border: none;
  outline: none;
  height: 47px;
  margin-top: 1rem;
  background-color: #f2c75d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.plan-box-button img {
  width: 100px;
}

@media screen and (max-width: 380px) {
  .page13_d1 {
    margin-top: 50px;
  }
}
@media screen and (max-width: 380px) {
  .page13_d1 {
    width: 100% !important;
  }
}
