.plan-box-card {
  align-items: flex-start !important;
}
.plan-box-info {
  display: block;
}
.fetch-files-container .large-image-wrapper img {
  height: 100%;
}
.fetch-files-container .image-wrapper img {
  width: 60%;
}
.plan-box-card .card-top .image-wrapper img {
  width: 25px;
  height: 25px;
}
.plan-box-card .card-top .plan-box-info h3 {
  margin-bottom: 0rem;
  margin-right: 10px;
}
.plan-box-card .card-top .plan-box-info > * {
  display: flex;
}

.plan-box-info .plan-info-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.plan-info-top .time {
  background-color: #e2efe6;
  color: #82bd98;
  font-size: 12px;
  font-weight: bold;
  min-width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 0rem;
}
.plan-info-top .filename {
  font-size: 12px;
  font-weight: 500;
  display: block;
  margin-top: 2px;
}
.plan-info-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}
.plan-info-bottom span {
  font-size: 13px;
  font-weight: 400 !important;
  color: var(--textcolor2);
}
.card-bottom {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.card-bottom .image-wrapper {
  width: 50px;
  min-width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.card-bottom .image-wrapper img {
  width: 100%;
}
.card-bottom .image-wrapper a > img {
  pointer-events: none;
}
.card-bottom .image-wrapper a.d-none {
  display: none;
}
.card-bottom .image-wrapper small {
  display: none;
  text-align: center;
}
.card-bottom .image-wrapper > a.d-none + small {
  display: block;
}
.card-bottom > p {
  font-size: 14px;
  color: var(--textcolor2);
  font-weight: 500;
  width: 42%;
  word-break: break-all;
}
.new-fetch-files-special-box .image-wrapper {
  width: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 10px;
}

.new-fetch-files-special-box .image-wrapper img {
  width: 25px;
  height: 25px;
}
