.volume-area {
  display: flex;
  position: absolute;
  left: 20px;
  align-items: center;
}
.volume-area .icon-wrapper {
  min-width: 30px !important;
  height: 30px !important;
}
.volume-area .icon-wrapper > * {
  pointer-events: none;
}
.time-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 5px;
}
.volume-area input {
  width: 90px;
  margin: 0 !important;

  left: 50%;
  top: -80px;
  -webkit-appearance: none;
  outline: none;
  height: 5px;
  background-color: #fff;
  padding: 0 !important;
  display: none;
  margin-left: 5px !important;
  border-radius: 99px;
  display: block;
  display: none;
}

.volume-area input::-webkit-slider-thumb {
  background-color: #4d4286;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
}
.volume-area input.active {
  display: block;
}
.custom-range {
  height: 100%;

  background-color: #0077ff;
  /* border-radius: 99px; */
  border-top-left-radius: 99px;
  border-bottom-left-radius: 99px;
  width: 0%;
  position: relative;
}
.custom-range span {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 80%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #7fb1eb;
  border-radius: 50%;
}
.volume-icon-wrapper > .mute {
  display: none;
}
.volume-icon-wrapper.active > .mute {
  display: block;
}
.volume-icon-wrapper.active > .sound {
  display: none;
}
@media screen and (max-width: 450px) {
  .volume-area input {
    width: 40% !important;
  }
}
