.range-div {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 99px;
  margin: 2rem 0rem !important;
}
.custom-range {
  height: 100%;

  background-color: #0077ff;
  /* border-radius: 99px; */
  border-top-left-radius: 99px;
  border-bottom-left-radius: 99px;
  width: 0%;
  position: relative;
}
.custom-range span {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 80%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #7fb1eb;
  border-radius: 50%;
}
