.recieved-explorer img {
  width: 100%;
  margin-top: 2rem;
}
.recieved-explorer h1 {
  text-align: center;
  color: var(--headingcolor);
  margin-top: 2rem;
  font-weight: 500;
  font-size: 25px;
  line-height: 2.4rem;
  margin: 1rem 0rem;
  margin-top: 3rem;
}
.progress-bar-wrapper {
  position: relative;
  width: 100%;
  height: 12px;
  background-color: #dfdfdf;
  border-radius: 15px;
  margin-top: 2rem;
}
.progress-bar-wrapper .progress-bar {
  background-color: var(--headingcolor);
  background-image: url(../../nimg/percentage.png);
  background-size: 15px;

  width: 50%;
  height: 100%;
  border-radius: 15px;
}

@media screen and (max-width: 300px) {
  .page13_d1 {
    width: 100%;
  }
}
