.reset-pass {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset-pass form {
  width: 100%;
}
.reset-pass .input-wrapper {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
  margin-top: 2rem;
}
.password-field {
  background-color: red;
  flex: 1;
  position: relative;
}
.password-field .input-value {
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  font-size: 25px;
  padding-top: 0.7rem;
  color: var(--headingcolor);
}
.reset-pass .input-wrapper input {
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  flex: 1;
}

.reset-pass .input-wrapper img {
  width: 20px;
  margin-right: 10px;
}
.reset-pass form .input-buttons-wrapper {
  display: flex;
  justify-content: center;
}
.reset-pass form .input-buttons {
  margin: auto;
  display: grid;
  margin-top: 2rem;
  grid-column-gap: 1.6rem;
  grid-row-gap: 2rem;
  grid-template-columns: 45px 45px 45px;
}
.reset-pass form .input-buttons > * {
  height: 45px;
  width: 45px;
  outline: none;
  border: none;
  color: #fff;
  background-color: var(--headingcolor);
  border-radius: 5px;
}
