.search-member-button {
  width: 70%;
  border: none;
  outline: none;
  height: 43px;
  margin: auto;
  margin-top: 1rem;
  background-color: var(--headingcolor);
  color: #fff;
  border-radius: 8px;
  display: block;
}

.search-member .input-wrapper {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
  margin-top: 2rem;
}

.search-member .input-wrapper input {
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  flex: 1;
}

.search-member .input-wrapper img {
  width: 20px;
  margin-right: 10px;
}
.search-member-results-area {
  margin-top: 2rem;
}
.search-member-results-area .main-heading {
  color: #1f1f39;
  font-size: 22px;
  font-weight: 400;
}
.result-boxes {
  margin-top: 1rem;
}
.result-box {
  background-color: #fff;
  padding: 1rem;
}
.result-box .icon-wrapper {
  min-width: 48px;
  height: 48px;
  background-color: var(--headingcolor);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.result-box-top {
  display: flex;
  align-items: flex-start;
  color: #1f1f39;
}
.result-box-top .result-presentation {
  margin-left: 10px;
}
.result-box-top .result-presentation p:first-child {
  font-weight: 600;
  font-size: 16px !important;
}
.result-box-top .result-presentation p {
  font-size: 14px;
  word-break: break-all;
  word-wrap: break-word;
}
.search-member-add-button {
  width: 100%;
  margin-top: 1rem;
  border: none;
  outline: none;
  color: #1492e6;
  background-color: #e7f4fd;
  height: 45px;
  border-radius: 8px;
}
